/*
Project Name: My upReach App
Client: upReach
Author: Madeleine
Developer @GA in London
*/


/******************************************
/* SETUP
/******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 95%;
}

img, video {
Max-width: 100%
}

/******************************************
/* BODY
/******************************************/

/*.navbar {
    height: 52px;
    background-color: #2196F3;
    color: #fff;
    border: none;
} */

html {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.last {
	padding-bottom: 4em;
}

/******************************************
/* HEADER
/******************************************/

header {
	background-color: #2196F3;
	width: auto;
	padding: .5em;
}

.account {
	border-radius: 2.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile {
	height: 3em;
	border-radius: 50%;
}

.logo {
	height: 2em;
}

/******************************************
/* HOME
/******************************************/

.profile-main {
	text-align: center;
	font-size: 1.7rem;
	margin: 1.5em;
}

.cta {
	border-radius: .1em;
	color: white;
	display: block;
	text-align: center;
}

.cta-blue {
	background: #2196F3;
	border-bottom: 1px solid #58666e;
	opacity: .6;
	padding: 1.4em;
	margin-bottom: 1em;
}

a {
	color: white;
	text-decoration: none;
}

h2 {
	color: #58666e;
	font-size: 1.6rem;
}

p {
	color: #918C8C;
	font-size: 1.4rem;
	margin-left: 1em;
	text-align: justify;
	padding: 0 1em;
}

.action a {
	font-size: 1.7em;
}

.action li {
	margin: 1.7em 0;
}

.profile-main img {
	height: 5em;
	border-radius: 50%;
}

.action {
	margin: 0;
}

.action a {
	font-size: 1.3rem;
}

.action li {
	list-style: none;
}

/******************************************
/* BOOKINGS
/******************************************/

.onetwoones {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	text-align: center;
	padding: 2em;
}

table {
	width: 100%;
	margin: 10px;
}

caption {
	background: #e97857;
	padding: 20px 15px;
	margin: 20px 0;
	color: white;
	font-size: 1.3rem;
}

/*.listing {
	padding: 5px 10px;
	margin-bottom: 15px;
	background: none;
	color: #2b2a2a;
}*/

td, th {
	padding: 10px 15px;
	border: 2px solid lightgrey;
	font-size: 1.3rem;
}

th {
	background: #63b5f6;
}

tbody tr:nth-child(odd){
  background-color: #bcdffb;
}

.nav caption {
	font-size: 2rem;
}

.nav th {
	width: 20%;
	font-size: 1.5rem;
	border: none;
	background-color: #2196F3;
	margin: none;
	border: 1px solid #2196F3;
}

.nav th:hover {
	background: #e97857;
	border: none;
}

/*.booking a {
	border: none
	border-radius: 50%;
	padding: 1em;
	color: #2196F3;
}*/

td.book {
	background: #bcdffb;
	padding: 5px;
	text-decoration: bold;
}

td.book:hover {
	background: lightgrey;
	border: none;
	cursor: pointer;
}

#show-this-on-click {
	display: none;
}


/******************************************
/* ONLINETESTS
/******************************************/

h4 {
	color: #3d5962;
	text-align: center;
	font-size: 1.6rem;
}

.test {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;
}

.level {
	margin: 1em 2em;
	text-align: center;
}

.test i {
	border-radius: 50%;
	border: solid .5em #f0f3f4;
	font-size: 2rem;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	margin: 0 auto;
}

.test i:before {
	cursor: pointer;
	transition: all 0.3s;
}

.test i:before {
  transform: scale(1);
}

.test i:hover:before {
	transform: scale(1.4);
}

.fa-chess-queen {
	background-color: #6EEB83;
}

.fa-chess-queen:hover {
	background-color: #55D26A;
}

.fa-sort-numeric-up {
	background-color: #F5B61A;
}

.fa-sort-numeric-up:hover {
	background-color: #DC9D01;
}

.fa-file-alt {
	background-color: #E83F6F;
}

.fa-file-alt:hover {
	background-color: #CF2656;
}

.fa-users {
	background-color: #E4572E;
}

.fa-users:hover {
	background-color: #CB3E15;
}

.test a {
	color: #3d5962;
	font-size: 1.5rem;
	font-weight: bold;
	align-self: center;
	display: block;
	margin: .5em 2em;
}

/******************************************
/* TESTS
/******************************************/

ul, h2, h3, h5 {
	color: #918C8C;
}

h5 {
	font-size: 1.3rem;
	padding: 10px 30px;
}

form {
	padding-bottom: 100px;
}

legend {
	color: #2196F3;
	padding: 10px;
	font-weight: bold;
	font-size: 1.5rem;
}

fieldset {
	padding: 10px;
	background-color: rgba(33,150,243,.05);
	border: 1px dotted #2196F3;
}

.hint {
	color: #2196F3;
}

#show-this-on-click {
	display: none;
}

.answer {
	display: block;
	padding: 5px 50px;
	color: #918C8C;
}

.space {
	padding-bottom: 10px;
}

.button {
	margin-right: 2em;
	background: #2196F3;
	color: white;
	opacity: .8;
	padding: 1em;
	border-radius: 90%;
	float: right;
}

input[type="checkbox"] {
	margin: 10px 5px;
}

/******************************************
/* TEST 1
/******************************************/

.q2, .q3 {
	display: none;
}

.next1, .next2, .finish {
	padding: 1em;
	color: #2196F3;
	float: right;
}

.previous2, .previous3 {
	padding: 1em;
	color: #2196F3;
	float: left;
}

#block {
	display: none;
	color: red;
}

#block2 {
	display: none;
	color: red;	
}

#block3 {
	display: none;
	color: red;	
}

.finito {
	border: 2px dotted #0063C0;
	background-color: #bcdffb;
	opacity: .5;
	align-self: center;
	display: none;
    margin: 1em;
    padding: 1em;
    font-size: 1.7rem;
    text-align: center;
}

/******************************************
/* FOOTER
/******************************************/

footer {
	background-color: #003763;
	bottom: 0;
	color: white;
	position: fixed;
	text-align: center;
	width: 100%;
}

footer ul {
	margin: 0;
}

footer li {
	display: inline-block;
}

menu {
	float: right;
	margin-left: 2em;
}

i {
	font-size: 1.75rem;
	color: white;
	padding: .7em 1em;
}

.flex-container {
	display: flex;
  	justify-content: space-between;
}

/******************************************
/* MEDIA QUERIES
/******************************************/

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
